<div class="anchor-button" data-no-turbolink>
<% if user_signed_in? %>

<% if current_user.anchor?(exp) %>
    <%= button_to unanchor_path(experience_id: exp.id), remote: true, method: :delete, class: "unanchor" do  %>
    <i class="fa fa-anchor fa-2x text-success" data-toggle="tooltip" data-placement="top" title="Remove this experience form your cruising guide"></i>
    <% end %>
  <% else %>
  <% if exp.user == current_user %>

  <%= button_to "", remote: true, class: "anchor", type: "button" do  %>
  <i class="fa fa-anchor fa-2x text-muted" data-toggle="tooltip" data-placement="top" title="You can't anchor your own experiences"></i>
  <% end %>

  <% else %>
    <%= button_to anchor_path(experience_id: exp.id), remote: true, class: "anchor" do  %>
    <i class="fa fa-anchor fa-2x text-muted" data-toggle="tooltip" data-placement="top" title="Include this experience in your cruising guide"></i>
    <% end %>
  <% end %>
  <% end %>

<% else %>

<%= button_to "", remote: true, class: "anchor" do  %>
<i class="fa fa-anchor fa-2x text-muted" data-toggle="tooltip" data-placement="top" title="Signup to create your free custom cruising guide"></i>
<% end %>

<% end %>
<strong><%= exp.anchors.count %></strong>
</div>
