<div class="row add-anchor anchor-button-img">

  <% if user_signed_in? %>

   <% if current_user.anchor?(img) %>
  <%= link_to unanchor_img_path(image_id: img.id), remote: true, method: :delete, class: "unanchor" do  %>
  <i class="fa fa-anchor fa-2x text-success"></i>
  <% end %>
    <% elsif current_user == img.user %>

  <%= link_to "#", class: "anchor", "data-toggle" => "tooltip", "data-placement"=>"top", "title"=>"You can't anchor your own photos" do  %>
  <i class="fa fa-anchor fa-2x text-warning"></i>
  <% end %>

  <% else %>
  <%= link_to anchor_img_path(image_id: img.id), method: :post, remote: true, class: "anchor" do  %>
  <i class="fa fa-anchor fa-2x text-muted" ></i>
  <% end %>

  <% end %>

  <% else %>

  <%= link_to signup_path, remote: true, class: "anchor", "data-toggle" => "tooltip", "data-placement"=>"top", "title"=>"Signup to create your free custom cruising guide" do  %>
  <i class="fa fa-anchor fa-2x text-muted"></i>
  <% end %>

  <% end %>
  <strong><%= img.anchors.count %></strong>

</div>
