<% content_for :title, "Community Powered Cruising Guides for Boaters | Anchorage.io" %>
<% content_for :head do %>
<meta name="description" content="Anchorage.io is a small-boat cruising guide where everybody has a voice. Sailors, boaters, and other seafaring folk can share local knowledge and secrets about exotic places to drop the hook around the world.">
<meta property="fb:app_id" content="257297327789868"/>
<meta property="og:url" content="https://anchorage.io" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Community Powered Cruising Guides for Boaters | Anchorage.io" />
<meta property="og:description" content="Anchorage.io is a small-boat cruising guide where everybody has a voice. Sailors, boaters, and other seafaring folk can share local knowledge and secrets about exotic places to drop the hook around the world." />

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@anchorageio">
<meta name="twitter:title" content="Community Powered Cruising Guides for Boaters | Anchorage.io">
<meta name="twitter:description" content="Anchorage.io is a small-boat cruising guide where everybody has a voice. Sailors, boaters, and other seafaring folk can share local knowledge and secrets about exotic places to drop the hook around the world.">

<% if @images.any? %>
 <meta property="og:image" content="<%= @images.first.file.url %>"/>
 <meta name="twitter:image" content="<%= @images.first.file.url %>">
<% end %>


<% end %>


<img src=https://storage.googleapis.com/anchorage/assets/anchorageio-banner1-web.jpg alt="sailing banner image" style="display:none; visibility:hidden;" />

<img src=https://storage.googleapis.com/anchorage/assets/anchorageio-banner1-mobile.jpg alt="sailing banner image" style="display:none; visibility:hidden;" />




<div class="row sailing-banner" id="homeBanner">
  <div class="col-xs-12">
  <h1>Sailing Somewhere?</h1>
  <h4>Build a Free Custom Cruising Guide for... </h4>
  <h4><span class="typed text-default"></span></h4>
  <div class="blank-space"></div>
  <%= link_to "Learn More", about_path, class: "btn btn-white-outline" %>
  </div>
</div>

<div id="scrollPoint"></div>

<div>
<h2 class="blue-flag shadow">Latest Activity</h2>

<%= render 'locations/masonry' %>

</div>

<div class="blank-space"></div>

<%= render "static_pages/banner" %>
