<%= form_for @message do |f| %>

<% if @message.errors.any? %>
    <ul>
    <% @message.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
<% end %>

<%= f.hidden_field :recipient_id, value: @recipient.id %>

<%= f.label :body, "Message" %><br>
<%= f.text_area :body, class: "form-control" %><br>

<%= f.submit "Send", class: 'btn btn-info btn-sm btn-async', "data-loading-text"=>"sending message..." %>

<% end %>
