<% content_for :title, "New User Signup" %>

<div class="row">

  <div class="col-xs-12 col-md-6 col-md-offset-3 well">

    <h3>Sign up with Social Account</h3>

    <%= render partial: 'shared/omniauth' %>

    <hr>


    <h3>Sign up with Email</h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<p class="text-danger"><%= devise_error_messages! %></p>


<%= f.label :email %><br />
<div class="inner-addon left-addon">
  <i class="hi hi-envelope"></i>
  <%= f.email_field :email, autofocus: true, class: "form-control" %>
</div>

<%= f.label :password %>
<% if @validatable %>
<em>(<%= @minimum_password_length %> characters minimum)</em>
<% end %><br />
<div class="inner-addon left-addon">
  <i class="hi hi-key"></i>
  <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
</div>

<div class="blank-space"></div>

<%= f.submit "Sign Up", class: "btn btn-primary" %> <%= link_to "Already have an Account?", login_path, remote: true, class: "btn btn-success" %> <div class="spinner"><i class="hi hi-cog hi-spin"></i> just a sec...</div>
</div>
<% end %>

</div>
</div>
