<% content_for :title, "All Badges" %>

<h1>Get Badges for Contributing to Anchorage.io</h1>
<div class="row">
  <div class="col-xs-12">
    <div class="well">

<h2>Starting Out</h2>
<ul class="dashboard-list">
  <% by_category(@badges, "Starting Out").map do |badge| %>
  <%= render partial: "badges/badges", locals: { badge: badge } %>
  <% end %>
</ul>

<h2>Sharing Experiences</h2>
<ul class="dashboard-list">
  <% by_category(@badges, "Sharing Experiences").map do |badge| %>
  <%= render partial: "badges/badges", locals: { badge: badge } %>
  <% end %>
</ul>

<h2>Sharing Photos</h2>
<ul class="dashboard-list">
  <% by_category(@badges, "Sharing Photos").map do |badge| %>
  <%= render partial: "badges/badges", locals: { badge: badge } %>
  <% end %>
</ul>

<h2>Getting Anchored</h2>
<ul class="dashboard-list">
  <% by_category(@badges, "Getting Anchored").map do |badge| %>
  <%= render partial: "badges/badges", locals: { badge: badge } %>
  <% end %>
</ul>

<h2>Creating Anchors</h2>
<ul class="dashboard-list">
  <% by_category(@badges, "Anchoring").map do |badge| %>
  <%= render partial: "badges/badges", locals: { badge: badge } %>
  <% end %>
</ul>

<h2>Regional Expertise</h2>
<ul class="dashboard-list">
  <% by_category(@badges, "Regional Expertise").map do |badge| %>
  <%= render partial: "badges/badges", locals: { badge: badge } %>
  <% end %>
</ul>

<h2>Being the First</h2>
<ul class="dashboard-list">
  <% by_category(@badges, "Pioneer").map do |badge| %>
  <%= render partial: "badges/badges", locals: { badge: badge } %>
  <% end %>
</ul>
  </div>
 </div>
</div>
