<% content_for :title, "#{@badge.name}" %>

<div class="row">
  <div class="col-xs-12">
    <div class="well">
      <h1 class="dashboard-list"><%= render partial: "badges/badges", locals: {badge: @badge} %></h1>
      <strong><%= pluralize(@users.count, 'sailor') %> earned this badge</strong>
      <h3>How to earn it</h3>
      <p><%= @badge.description %></p>
      <p><%= link_to "All Badges", badges_path %></p>
    </div>
  </div>
</div>
<h2>Who else has earned this badge?</h2>
<%= render "badges/badge_users" %>
