<div class="modal fade" id="seshModal" tabindex="-1" role="dialog" aria-labelledby="seshModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="seshModalLabel">Login</h4>
      </div>
      <div class="modal-body">

          <%= render partial: 'shared/omniauth' %>

          <hr>


        <h4>Login with Email</h4>


        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="modal-errors"></div>


        <%= f.label :email %><br />
        <div class="inner-addon left-addon">
          <i class="hi hi-envelope"></i>
          <%= f.email_field :email, autofocus: true, class: "form-control", spellcheck: false %>
        </div>

        <%= f.label :password %><br />
        <div class="inner-addon left-addon">
          <i class="hi hi-key"></i>
          <%= f.password_field :password, class: "form-control" %>
        </div>

        <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
        <% end -%>

        <div class="blank-space"></div>

        <%= f.submit "Login", class: "btn btn-primary btn-async", "data-loading-text"=>"logging in..." %> <div class="spinner"><i class="hi hi-cog hi-spin"></i> just a sec...</div>
      </div>
      <% end %>

      <div class="modal-footer">
        <img src="https://storage.googleapis.com/anchorage/assets/mini-logo-white.png" class="modal-logo">
        <%= link_to "Forgot Password?", new_user_password_path, class: "btn btn-default btn-xs" %>
      </div>
    </div>
  </div>
</div>
