<div class="modal fade" id="seshModal" tabindex="-1" role="dialog" aria-labelledby="seshModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="seshModalLabel">Login</h4>
      </div>
      <div class="modal-body">

        <h3>Login with Social Account</h3>


          <%= button_to user_omniauth_authorize_path(:google_oauth2), class: 'btn google-button', method: :get do %>
          <%= fa_icon "google-plus" %> <strong>Google+</strong>
          <% end %>

          <div class="blank-space"></div>

          <%= button_to user_omniauth_authorize_path(:facebook), class: 'btn facebook-button', method: :get do %>
          <%= fa_icon "facebook" %> <strong>Facebook</strong>
          <% end %>

          <hr>


        <h3>Login with Email</h3>


        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="modal-errors"></div>


        <%= f.label :email %><br />
        <div class="inner-addon left-addon">
          <i class="fa fa-envelope"></i>
          <%= f.email_field :email, autofocus: true, class: "form-control", spellcheck: false %>
        </div>

        <%= f.label :password %><br />
        <div class="inner-addon left-addon">
          <i class="fa fa-key"></i>
          <%= f.password_field :password, class: "form-control" %>
        </div>

        <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
        <% end -%>

        <div class="blank-space"></div>

        <%= f.submit "Login", class: "btn btn-default" %> <div class="spinner"><i class="fa fa-cog fa-spin"></i> just a sec...</div>
      </div>
      <% end %>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
