<div class="well">
  <h4><%= @user.username %></h4>
  <span class="user-image"><%= image_tag @user.image_url(:thumb), class: 'avatar' %></span>
  <% if @user != current_user %>
  <%= link_to conversation_path(@user.username), class: 'btn btn-xs btn-info' do %>
  <i class="fa fa-comments"></i> message @<%= @user.username %>
  <% end %>
  <% end %>
  <hr>

  <div class="blank-space"></div>
  <ul class="dashboard-list">
    <% if current_user == @user %> <li><strong>Email:</strong> <%= @user.email %> <em class="text-info">(private)</em></li> <% end %>
    <li><strong>Name:</strong> <%= @user.full_name %></li>
    <li><strong>Joined:</strong> <%= distance_of_time_in_words(@user.user_time) %> ago</li>
    <li><strong>Blog:</strong> <%= unless @user.blog.blank? then link_to @user.blog, @user.blog, target: "_blank" end %></li>
    <li><strong>Boat:</strong> <%= @user.boatname %></li>
    <li><strong>Model:</strong> <%= @user.boatmodel %></li>
    <li><strong>Hailing Port:</strong> <%= @user.location %></li>
    <% if @user.donation.present? %>

    <li>
      <%= link_to @user.donation, target: "_blank", class: "donate label label-info", rel: "nofollow", "data-toggle" => "tooltip", "data-placement"=>"top", "title"=>"Donate a few clams to this user's cruising kitty" do  %>
    <i class="fa fa-beer"></i> Beer Me
    <% end %>
    </li>
    <% end %>
  </ul>
  <hr>

  <h4>statsheet</h4>
  <ul class="dashboard-list">
  <li><strong>Anchors Received:</strong> <%= @user.total_anchors %></li>
  <li><strong>Experiences Posted:</strong> <%= @user.experiences.count %></li>
  <li><strong>Images Posted:</strong> <%= @user.images.count %></li>
  </ul>

  <hr>
  <h4>bio</h4>
  <p><%= @user.bio %></p>

  <hr>

  <h4>badges</h4>

  <%= render partial: "users/user_badges" %>

</div>
