<% content_for :title, "Anchors you have Received from Others" %>

<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <h3 class="green-flag shadow">Anchors Received...</h3>
    <div class="well">

      <%= link_to anchors_received_path, class: "btn btn-success btn-sm" do %>
      <i class="hi hi-heart"></i> Anchors Received
      <% end %>

      <span class="btn btn-sm anchor-count-green">
        <%= @user.total_anchors %>
      </span>
      <h3>Anchor History (received)</h3>
    <%= render partial: "anchors/received_feed" %>
    <%= will_paginate @anchors_received %>

    <div class="blank-space"></div>
    <%= link_to dashboard_path, class: 'btn btn-primary btn-sm' do %>
    <i class="hi hi-chevron-left"></i> Dashboard
    <% end %>

    <%= link_to anchors_given_path, class: "btn btn-info btn-sm" do %>
    <i class="hi hi-anchor"></i> Anchors Given
    <% end %>
    </div>
  </div>
</div>
