<% content_for :title, "#{@user.username}'s  Dashboard" %>

<div class="row">

  <div class="col-xs-12 col-md-6" id="userDetails">
    <%= render partial: "users/user_details" %>
  </div>


  <div class="col-xs-12 col-md-6">
    <div class="well">
      <h4>Cruising Guides</h4>

      <ul class="dashboard-list">
      <% @guides.each do |guide| %>
      <%= div_for guide do %>
    <li><i class="fa fa-book"></i>  <%= link_to guide.name, user_guide_path(id: guide.permalink, user_id: guide.user.id) %> </li>
    <% end %>
      <% end %>
      </ul>
      <%= link_to new_user_guide_path(@user), remote: true, class: "btn btn-primary btn-xs" do %>
      <i class="fa fa-book"></i> New Cruising Guide
      <% end %>
    </div>

    <div class="well">
      <h3>Experiences Shared</h3>
      <% if @user.experiences.any? %>
      <%= link_to "My Experiences", user_experiences_path(@user), class: "btn btn-info" %>
      <% else %>
      <p>You haven't shared any experiences yet...</p>
      <% end %>
    </div>
    <div class="well">
      <h3>Photos Shared</h3>
      <% if @user.images.any? %>
      <%= link_to "My Images", user_images_path(@user), class: "btn btn-info" %>
      <% else %>
      <p>You haven't shared any images yet...</p>
      <% end %>
    </div>

    <div class="well">
      <h3>Content You Anchored</h3>
      <% if @user.anchors.any? %>
      <% @user.anchors.each do |a| %>
      <ul class="dashboard-list">
        <li><%= a.anchorable.user.username %>'s <%= a.anchorable_type.downcase %> at <%= link_to a.anchorable.location.name, a.anchorable.location %></li>
      </ul>

      <% end %>
      <%= link_to "All Anchors", anchors_path, class: "btn btn-info" %>
      <% else %>
      <p>You haven't anchored anything yet... Why anchor something, you ask? Any experience or image that you mark as anchored will be added to your cruising guide. So anchor content that think will be helpful out on the high seas.</p>
      <% end %>
    </div>

  </div>

</div>
