<div class="row">

  <div class="col-xs-12 col-md-6">
    <div class="well">
      <h4><%= @user.username %></h4>
      <div class="user-image"><%= image_tag @user.image %></div>
      <ul>
        <li>Name: <%= @user.full_name %></li>
        <li>Blog: <%= @user.fname %></li>
        <li>Bio: <%= @user.bio %></li>
        <li>Boat: <%= @user.boatname %></li>
        <li>Boat Model: <%= @user.boatmodel %></li>
      </ul>
    </div>
  </div>


  <div class="col-xs-12 col-md-6">
    <div class="well">
      <h4>Cruising Guides</h4>
    </div>
  </div>

</div>


<div class="row">

  <div class="col-xs-12 col-md-6">
    <div class="well">
      <h4>Badges</h4>
    </div>
  </div>

  <div class="col-xs-12 col-md-6">
    <div class="well">
      <h4>Activity</h4>
    </div>
  </div>
</div>
