<% content_for :title, "Edit Password" %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">

<div class="well">
<h2>Change your Password</h2>

<%= form_for(@user, :url => { :action => "update_password" } ) do |f| %>
  <div class="field">
    <%= f.label :password, "Password" %><br />
    <%= f.password_field :password, :autocomplete => "off", class: "form-control"  %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirm New Password" %><br />
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>
  <div class="blank-space"></div>
  <div class="action_container">
    <%= f.submit "Change Password", class: "btn btn-primary" %>
  </div>

<% end %>
</div>
</div>
</div>
