<% content_for :title, "#{@user.username}'s Experiences" %>

<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">

    <% if @experiences.any? %>

  <% @experiences.each do |exp| %>
  <h3>at <%= link_to exp.location.name, exp.location, class: "default-link" %></h3>
  <%= render partial: "experiences/experience", locals: {exp: exp} %>
  <% end %>

  <div class="well">
    <%= link_to profile_path(@user.username), class: "btn btn-info btn-sm" do %>
      <i class="fa fa-chevron-left"></i>  <%= @user.username %>'s Profile
    <% end %>
    <%= will_paginate @experiences %>
  </div>

  <% else %>

  <div class="well">
     <p>No experiences found...</p>
     <%= link_to profile_path(@user.username), class: "btn btn-info btn-sm" do %>
       <i class="fa fa-chevron-left"></i>  <%= @user.username %>'s Profile
     <% end %>
  </div>

  <% end %>

  </div>

</div>
