<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">

    <% if @experiences.any? %>

  <% @experiences.each do |exp| %>
  <h3>at <%= link_to exp.location.name, exp.location, class: "default-link" %></h3>
  <%= render partial: "experiences/experience", locals: {exp: exp} %>
  <% end %>

  <div class="well">
    <%= will_paginate @experiences %> <%= link_to 'Back', :back %>
  </div>

  <% else %>

  <div class="well">
     <p>No experiences found... <%= link_to 'Back', :back %></p>
  </div>

  <% end %>

  </div>

</div>
