<% content_for :title, "#{@user.username}'s Photos" %>

<div class="row">
<div class="col-xs-12">
  <h1 class="title-flag"><%= @user.username %>'s Photos</h1>
  <div class="well">
<% if @images.any? %>

    <div class="row" id="masonryFeed">
      <%= render @images %>
    </div>

    <hr>

        <%= link_to profile_path(@user.username), class: "btn btn-info btn-sm" do %>
          <i class="hi hi-chevron-left"></i>  <%= @user.username %>'s Profile
        <% end %>
        <div id="staticPagination">
          <%= paginate @images %>
        </div>

<% else %>

      <p>
        No Images Found...
      </p>
      <%= link_to profile_path(@user.username), class: "btn btn-info btn-sm" do %>
        <i class="hi hi-chevron-left"></i>  <%= @user.username %>'s Profile
      <% end %>

<% end %>

    </div>
  </div>
</div>
