<div class="row">

  <div class="col-xs-12 col-md-6 col-md-offset-3 well">

<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
<%= devise_error_messages! %>

<div class="field">
  <%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true, class: "form-control" %>
</div>
<div class="blank-space"></div>
<div class="actions">
  <%= f.submit "Send New Password", class: "btn btn-primary" %>
</div>
<% end %>

<div class="blank-space"></div>
<%= link_to "Signup", signup_path, remote: true %> <br />
<%= link_to "Login", login_path, remote: true %>

</div>
</div>
