<footer class="footer navbar-bottom navbar-default container-fluid">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <p><span class="twitter"><a href="http://twitter.com/anchorageio" target="_blank"><i class="hi hi-twitter" target="_blank"></i></a>
        | <span class="instagram"><a href="http://instagram.com/anchorage.io" target="_blank"><i class="hi hi-camera-retro"></i></a>
        | <span class="facebook"><a href="https://www.facebook.com/anchorage.io" target="_blank"><i class="hi hi-facebook"></i></a>
        | <span class="google-plus"><a href="https://plus.google.com/+AnchorageIoapp" target="_blank"><i class="hi hi-google-plus"></i></a>
        </p>

      <p>Copyright <%= Time.now.strftime("%Y") %>  <i class="hi hi-copyright"></i> Anchorage.io | user content licensed under <%= link_to "cc by-sa 4.0", "http://creativecommons.org/licenses/by-sa/4.0/" %>
        | <%= link_to "How it Works", about_path %>
        | <%= link_to "Privacy Policy", privacy_path %>
        | <%= link_to "Terms of Use", terms_path %> <br>
        <span class="text-light"><%= link_to "this app is developed", "https://geotargetlabs.com" %> with 100% organic, non-gmo source code</span>
        </p>
      </div>
    </div>
  </footer>
