<nav id="mainnav" class="navbar navbar-default  navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-header">

        <%= link_to image_tag("anchorage-logo-dark.svg", width: "200px"), root_url, class: "navbar-brand"  %>
      </div>
    </div>

    <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false" style="height: 1px;">

      <ul class="nav navbar-nav navbar-right">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default search-button">Submit</button>
        </form>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <%= fa_icon "anchor" %> Locations <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "About - FAQ", about_path %></li>
            <li><%= link_to "something", '#' %></li>
            <li class="divider"></li>
            <li><%= link_to "Privacy Policy", privacy_path %></li>
            <li><%= link_to "Terms & Conditions", terms_path %></li>
          </ul>
        </li>
        <% unless user_signed_in? %>
        <li><%= link_to "Signup", signup_path, remote: true %></li>
        <li><a href=<%= login_path %> data-remote="true"><%= fa_icon "user" %> Login</a></li>
        <% else %>
        <%= render "shared/active_user_links" %>
        <% end %>
      </ul>
    </div>
    </div>
    </div>
  </div>
</nav>
