<ul class="nav navbar-nav navbar-left">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <%= fa_icon "anchor" %> Locations <span class="caret"></span></a>
    <ul class="dropdown-menu mega" role="menu">

      <li>
        <div class="yamm-content">
          <div class="row">

<ul class="col-xs-12 col-sm-4 col-lg-4 mega-list">
<li><h5>California</h5></li>
<li><%= link_to "Bay Area", region_path(id: "san-francisco-bay") %></li>
<li><%= link_to "So Cal", region_path(id: "southern-california") %></li>
<li><%= link_to "Catalina", region_path(id: "catalina") %></li>
<li><%= link_to "Channel Islands", region_path(id: "channel-islands") %></li>
<li><strong><%= link_to "All in California", region_path(id: "california") %></strong></li>
</ul>

<ul class="col-xs-12 col-sm-4 col-lg-4 mega-list">
<li><h5>Pacific Northwest</h5></li>
<li><%= link_to "Washington", region_path(id: "washington") %></li>
<li><%= link_to "Puget Sound", region_path(id: "puget-sound") %></li>
<li><%= link_to "Oregon", region_path(id: "oregon") %></li>
<li><%= link_to "San Juans", region_path(id: "san-juan-islands") %></li>
<li><strong><%= link_to "All in PNW", region_path(id: "pacific-northwest") %></strong></li>
</ul>

<ul class="col-xs-12 col-sm-4 col-lg-4 mega-list">
<li><h5>Mexico</h5></li>
<li><%= link_to "Pacific Baja", region_path(id: "pacific-baja") %></li>
<li><%= link_to "Sea of Cortez", region_path(id: "sea-of-cortez") %></li>
<li><%= link_to "Cabo", region_path(id: "cabo") %></li>
<li><%= link_to "Mainland", region_path(id: "mainland-mexico") %></li>
<li><strong><%= link_to "All in Mexico", region_path(id: "mexico") %></strong></li>
</ul>

<!--
<ul class="col-xs-12 col-sm-6 col-lg-3 mega-list">
<li><h5>Coming Soon...</h5></li>
<li><%= link_to "Hawaii", region_path(id: "hawaii") %></li>
<li><%= link_to "South Pacific", region_path(id: "marqueses") %></li>
<li><%= link_to "Figi", region_path(id: "figi") %></li>
<li><%= link_to "Tonga", region_path(id: "tonga") %></li>
<li><strong><%= link_to "All in South Pacific", region_path(id: "south-pacific") %></strong></li>
</ul>
-->

          </div>
        </div>
      </li>
      <li class="divider"></li>
      <li><%= link_to "Explore All Regions", regions_path %></li>
    </ul>
  </li>
</ul>
