<ul class="nav navbar-nav navbar-left">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle locations-menu" data-toggle="dropdown" role="button" aria-expanded="false"> <%= fa_icon "anchor" %> Locations <span class="caret"></span></a>
    <ul class="dropdown-menu mega" role="menu">

      <li>
        <div class="yamm-content">
          <div class="row">

<ul class="col-xs-12 col-sm-3 col-lg-3 mega-list mega-green">
<li><h5>The Americas</h5></li>
<li><%= link_to "California", region_path(id: "california") %></li>
<li><%= link_to "Mexico", region_path(id: "mexico") %></li>
<li><%= link_to "Caribbean", region_path(id: "caribbean") %></li>
<li><%= link_to "Pacific Northwest", region_path(id: "pacific-northwest") %></li>
<li><strong><%= link_to "All in Americas", region_path(id: "north-america") %></strong></li>
</ul>

<ul class="col-xs-12 col-sm-3 col-lg-3 mega-list mega-pink">
<li><h5>Europe</h5></li>
<li><%= link_to "Great Britain", region_path(id: "great-britain") %></li>
<li><%= link_to "France", region_path(id: "france") %></li>
<li><%= link_to "Greece", region_path(id: "greece") %></li>
<li><%= link_to "Italy", region_path(id: "italy") %></li>
<li><strong><%= link_to "All in Europe", region_path(id: "europe") %></strong></li>
</ul>

<ul class="col-xs-12 col-sm-3 col-lg-3 mega-list mega-blue">
<li><h5>The Pacific</h5></li>
<li><%= link_to "Hawaii", region_path(id: "hawaii") %></li>
<li><%= link_to "French Polynesia", region_path(id: "french-polynesia") %></li>
<li><%= link_to "Tonga", region_path(id: "tonga") %></li>
<li><%= link_to "Fiji", region_path(id: "fiji") %></li>
<li><strong><%= link_to "All in Pacific", region_path(id: "pacific-islands-and-oceania") %></strong></li>
</ul>


<ul class="col-xs-12 col-sm-3 col-lg-3 mega-list mega-orange">
<li><h5>Elsewhere</h5></li>
<li><%= link_to "South America", region_path(id: "south-america") %></li>
<li><%= link_to "Asia", region_path(id: "asia") %></li>
<li><%= link_to "Australia ", region_path(id: "australia") %></li>
<li><%= link_to "New Zealand", region_path(id: "new-zealand") %></li>
<li><%= link_to "Canada", region_path(id: "canada") %></li>
</ul>


          </div>
        </div>
      </li>
      <li class="divider"></li>
      <li><%= link_to "Explore All Regions", regions_path %></li>
    </ul>
  </li>
</ul>
