<div class="page-button">
  <% if user_signed_in? %>

  <div class="btn-group">
    <a href="#" class="btn btn-success dropdown-toggle btn-sm btn-dark-text" data-toggle="dropdown"><i class="hi hi-binoculars"></i> Cruising Guides  <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <% if current_user.guides.any? %>
    <% current_user.guides.each do |guide| %>
    <% if guide.has_page?(location) %>

      <li><%= link_to pages_destroy_path(location_id: location.id, guide_id: guide.id), remote: true, method: :delete do  %>
        <i class="hi hi-trash-o text-danger"></i> Remove from <strong><%= guide.name %></strong>
        <% end %>
      </li>

      <% else %>

    <li><%= link_to pages_create_path(location_id: location.id, guide_id: guide.id), remote: true, method: :post do  %>
      <i class="hi hi-plus"></i> Add to <strong><%= guide.name %> </strong>
      <% end %>
    </li>

    <% end %> <!-- end guide loop -->

      <% end %> <!-- end has_page? -->

      <% else %>

      <li><%= link_to dashboard_path do  %>
        <i class="hi hi-frown-o"></i> No Cruising Guide. Create one from the Dashboard
        <% end %>
      </li>

      <% end %> <!-- end if user has guides -->

    </ul>
  </div>


  <% else %> <!-- if not signed in -->

  <%= link_to signup_path, remote: true, class: "btn btn-sm btn-success btn-dark-text" do  %>
  <i class="hi hi-binoculars" data-toggle="tooltip" data-placement="top" title="Signup to create your free custom cruising guide"></i> Add To Cruising Guide
  <% end %>

  <% end %>

</div>
