<%= div_for @page, class: "page-content" do %>

<div class="row">
  <div class="col-xs-12">

   <h2><%= @location.name %>
   <%= link_to @location, class: "btn btn-primary btn-xs" do %>
     <i class="fa fa-eye"></i> View
     <% end %></h2>

   <div class="row">
     <div class="col-xs-12 col-md-4">
       <%= render "locations/stats" %>
     </div>
     <div class="col-xs-12 col-md-8">
       <h2>Overview</h2>
       <p><%= @location.stat.default_description %></p>
       <%= sanitize(@location.stat.description) %>
     </div>
   </div>

   <h3>Pictures</h3>
   <div class="row">
   <% @page.images.each do |img| %>
   <%= render partial: "pages/image", locals: {img: img} %>
   <% end %>
   </div>


   <h3>First-Hand Experiences</h3>

   <% @page.experiences.each do |exp| %>
   <%= render partial: "pages/experience", locals: {exp: exp} %>
   <% end %>

   <h3>My Contributions</h3>

   <% if @user_experience.present? %>

   <%= render partial: "pages/experience", locals: {exp: @user_experience} %>

   <% end %>

   <% if @user_images.present? %>

   <h3>Pictures</h3>
   <div class="row">
     <% @user_images.each do |img| %>
     <%= render partial: "pages/image", locals: {img: img} %>
     <% end %>
   </div>

   <% end %>


  </div>
</div>

<% end %>
