<%= div_for exp, class: "row experience well" do %>

  <div class="row">
    <div class="col-xs-12">
      <p>
        <span class="label label-default">shared <%= time_ago_in_words(exp.created_at) %> ago</span>
        <% if exp.lat? || exp.long? %>
        <span class="anchor-coords">dropped the hook at <strong><%= exp.lat %> <%= exp.latd %>, <%= exp.long %> <%= exp.longd %></strong></span>
        <% end %>
      </p>
      <hr>
      <%= sanitize(exp.body) %>
      <% if exp.user.location_images(exp.location).any? %>
      <p>
        <% exp.user.location_images(exp.location).each do |i| %>
          <%= link_to image_tag(i.file_url(:thumb), size: "50x50", alt: i.description), i, remote: true  %>
        <% end %>
      </p>
      <% end %>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-8 col-xs-6">
      <%= render partial: "anchors/button", locals: { exp: exp } %>
    </div>

    <div class="col-md-4 col-xs-6">
      <div class="exp-signature" itemprop="author" itemscope itemtype="http://schema.org/Person">

        <%= image_tag exp.user.image_url(:thumb), size: "35x35", itemprop: "image" %>

      <span itemprop="name">
        <%= link_to "@#{exp.user.username}", profile_path(exp.user.username), class: "label label-info" %>
      </span><br>
        <% if exp.user.boatname.present? || exp.user.location.present? %>
        <span itemprop="owns"><strong><%= exp.user.boatname %></strong></span>
        <span itemprop="homeLocation"><em><%= exp.user.location %></em></span><br>
        <% end %>

        <span class="label label-gold"><%= by_difficulty(exp.user.badges, :gold).count %> <i class="fa fa-trophy"></i></span>
        <span class="label label-silver"><%= by_difficulty(exp.user.badges, :silver).count %> <i class="fa fa-certificate"></i></span>
        <span class="label label-bronze"><%= by_difficulty(exp.user.badges, :bronze).count %> <i class="fa fa-certificate"></i></span>

        <% if exp.user.donation.present? %>
        <%= link_to exp.user.donation, target: "_blank", class: "donate label label-info", style: "display: inline;", rel: "nofollow", "data-toggle" => "tooltip", "data-placement"=>"top", "title"=>"Was this experience helpful? Donate a few clams to this user's cruising kitty" do  %>
        <i class="fa fa-beer"></i> Beer Me
        <% end %>
        <% end %>

        <% if current_user == exp.user || current_user.try(:admin?) %>
        <div class="exp-owner-actions">
        <%= link_to "Edit", edit_experience_path(exp), remote: true, class: "text-warning" %> | <%= link_to "Delete", exp, method: :delete, remote: true, class: "text-danger",  data: { confirm: 'Sure about this? It can never be recovered.' } %>
        </div>
        <% end %>


      </div>
    </div>
  </div>


<% end %>
