<%= div_for exp do %>
<div class="experience-container">
  <div class="row well">
    <div class="col-xs-12 col-sm-2">
        <%= render partial: "anchors/button", locals: { exp: exp } %>
    </div>

    <div class="col-xs-12 col-sm-10">
      <span class="label label-default">shared <%= time_ago_in_words(exp.created_at) %> ago</span>
      <div class="blank-space"></div>
      <p><%= raw(exp.body) %></p>

      <div class="row">
        <div class="blank-space"></div>
        <div class="col-xs-7 col-md-7">
        </div>
        <div class="col-xs-12 col-md-1">
          <%= image_tag exp.user.image_url(:thumb), size: "40x40" %>
        </div>
        <div class="col-xs-12 col-md-4">
        <p class="exp-user"><strong><%= link_to exp.user.username, profile_path(exp.user.username) %></strong><br />
          <strong><%= exp.user.boatname %></strong> <em><%= exp.user.location %></em></p>

          <span class="gold-badge"><%= by_difficulty(exp.user.badges, :gold).count %> <i class="fa fa-trophy"></i></span>
          <span class="silver-badge"><%= by_difficulty(exp.user.badges, :silver).count %> <i class="fa fa-certificate"></i></span>
          <span class="bronze-badge"><%= by_difficulty(exp.user.badges, :bronze).count %> <i class="fa fa-certificate"></i></span>

          <% if exp.user.donation.present? %>
          <br>
          <%= link_to exp.user.donation, target: "_blank", class: "donate", rel: "nofollow", "data-toggle" => "tooltip", "data-placement"=>"top", "title"=>"Was this experience helpful? Donate a few clams to this user's cruising kitty" do  %>
          <i class="fa fa-beer"></i> Beer Me
          <% end %>
          <% end %>

          <% if current_user == exp.user || current_user.try(:admin?) %>
          <br />
          <%= link_to "Delete", exp, method: :delete, remote: true, class: "label label-danger",  data: { confirm: 'Sure about this? It can never be recovered.' } %> <%= link_to "Edit", edit_experience_path(exp), remote: true, class: "label label-warning" %>
          <% end %>
          <br />
        </div>
      </div>

    </div>
  </div>
  </div>
<% end %>
