<div id="experienceWell">
<%= form_for(@experience, remote: true) do |f| %>

<div id="experienceErrors"></div>

    <strong>A Couple Tips</strong>
    <ul><li>Share knowledge that is useful to other boaters, such as facilities, weather protection, nearby wildlife habitats, etc. </li>
    <li>Link back to your blog if you have relevent information about this location, but don't spam it for no reason. </li>
    </ul>


    <%= f.text_area :body, class: "wysihtml5 form-control", placeholder: "What's it like here?" %>

    <span id="textarea_feedback"></span>

    <div class="blank-space"></div>

  <div class="actions">
    <%= f.hidden_field :user_id, value: @user.id %>
    <%= f.hidden_field :location_id, value: @location.id %>
    <%= f.submit "Submit", class: "btn btn-info btn-sm" %> <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal" data-confirm="Are you sure? Anything you're written so far will be lost.">Nevermind</button>
  </div>
<% end %>
</div>
