<div class="blank-space"></div>
<div class="well" id="experienceWell">
<%= form_for(@experience, remote: true) do |f| %>

<div id="experienceErrors"><ul></ul></div>

  <h4><%= f.label :body, "Your experience at #{@location.name}" %></h4>

  <div class="alert alert-dismissible alert-info">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>A Few Ground Rules</strong>
    <ul><li>Share knowledge that is useful to other boaters, such as facilities, weather protetion, cool things to see, etc. </li>
    <li>Link back to your blog if you have relevent information about this location, but don't spam it for no reason. </li>
    <li>Nothing mean, hateful, stupid, or overly opinionated.</li>
    </ul>
  </div>

    <%= f.text_area :body, class: "wysihtml5 form-control", placeholder: "What's it like here?" %>

    <div class="blank-space"></div>

  <div class="actions">
    <%= f.hidden_field :user_id, value: @user.id %>
    <%= f.hidden_field :location_id, value: @location.id %>
    <%= f.submit "Submit", class: "btn btn-success btn-sm" %> <%= link_to "Cancel", "#", class: "btn btn-warning btn-sm", id: "cancelButton" %>
  </div>
<% end %>
</div>
