<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @experience.user %>
</p>

<p>
  <strong>Location:</strong>
  <%= @experience.location %>
</p>

<p>
  <strong>Body:</strong>
  <%= @experience.body %>
</p>

<%= link_to 'Edit', edit_experience_path(@experience) %> |
<%= link_to 'Back', experiences_path %>
