<div class="row">

  <div class="col-xs-12 col-md-6 col-md-offset-3 well">

<h3>Login with Social Account</h3>


<%= button_to user_omniauth_authorize_path(:google_oauth2), class: 'btn google-button', method: :get do %>
<%= fa_icon "google-plus" %> <strong>Google+</strong>
<% end %>

<div class="blank-space"></div>

<%= button_to user_omniauth_authorize_path(:facebook), class: 'btn facebook-button', method: :get do %>
<%= fa_icon "facebook" %> <strong>Facebook</strong>
<% end %>

<hr>


<h3>Login with Email</h3>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<%= f.label :email %><br />
<div class="inner-addon left-addon">
  <i class="fa fa-envelope"></i>
  <%= f.email_field :email, autofocus: true, class: "form-control", spellcheck: false %>
</div>

<%= f.label :password %><br />
<div class="inner-addon left-addon">
  <i class="fa fa-key"></i>
  <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
</div>

<% if devise_mapping.rememberable? -%>
<%= f.check_box :remember_me %>
<%= f.label :remember_me %>
<% end -%>

<div class="blank-space"></div>

<%= f.submit "Log In", class: "btn btn-primary" %>
<% end %>
<div class="blank-space"></div>

<%= link_to "Signup", signup_path, remote: true, class: "btn btn-success" %> <%= link_to "Forgot Password?", new_user_password_path, class: "btn btn-warning" %>

</div>
</div>
