<% content_for :title, "Anchorage.io Blog and News Feed" %>
<% content_for :head do %>

 <meta name="description" content="Anchorage.io Blog - Thoughts and ideas from the Anchorage.io crew.">
<% end %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="well">
      <h1>Anchorage.io Blog</h1>
      <p>Thoughts and ideas from the Anchorage.io crew</p>
    </div>
  </div>
</div>

<% @posts.each do |post| %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="well">
    <h2><%= link_to post.title, post %> </h2>
    <p><em>Posted <%= friendly_time(post.created_at) %> by <%= post.author %></em></p>
    <% if post.featured_image? %>
    <%= link_to image_tag(post.featured_image, style: "max-width:100%;height:auto;"), post %>
    <% end %>
      <section><%= post.preview_text.html_safe %>...</section>
      <%= link_to "Read More", post, class: "btn btn-sm btn-info" %>
    </div>
  </div>
</div>

<% end %>
<% if @posts.count > 10 %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="well">
      <%= will_paginate @posts %>
    </div>
  </div>
</div>
<% end %>
