<h1>All Regions</h1>

<div class="row">
  <% @regions.each do |region| %>
  <%= div_for region do %>
  <div class="col-sm-12 col-md-4">
    <div class="well">

    <h3><%= link_to region.name, "#collapse#{region.id}", "data-toggle" => "collapse", "aria-expanded" => "false", "aria-controls" => "collapse#{region.id}", class: "text-primary" %></h3>

    <div class="collapse" id="collapse<%= region.id %>">

    <ul class="contents-list">
      <% region.locations.each do |loc| %>
      <li><%= link_to loc.name, loc %></li>
      <% end %>
      <li><strong><%= link_to "All in #{region.name}", region %></strong></li>
    </ul>
    </div>

    </div>
  </div>
  <% end %>
  <% end %>
</div>
