<% content_for :title, "#{@region.name} Boating Locations" %>
<% content_for :head do %>
 <meta name="description" content="Explore boating and cruising destinations within the <%= @region.name %> region">
<% end %>

<h1>Anchorages and Marinas in <%= @region.name %> </h1>

<%= render partial: "shared/supermap", locals: { locations: @map_locations } %>
<%= render partial: 'shared/supermap_script' %>

<% @locations.each do |location| %>

<%= render partial: "locations/location", locals: {location: location} %>

<% end %>

<%= will_paginate @locations, renderer: BootstrapPagination::Rails %>
