<% content_for :title, "#{@region.name} Boating Locations" %>
<% content_for :head do %>
 <meta name="description" content="Explore boating and cruising destinations within the <%= @region.name %> region">
<% end %>

<div class="map-container">
  <div class="well"><h1 class="title-flag">Anchorages and Marinas in <strong><%= @region.name %></strong></h1>
    <%= link_to(@region.parent_region.name, @region.parent_region, class: "blue-flag-region") if @region.parent_region %>
    <% @region.sub_regions.each do |region| %>
      <%= link_to region.name, region, class: "orange-flag-region" %>
    <% end %>
  </div>


  <%= render partial: "shared/supermap" %>
</div>




<%= render partial: 'regions/filters' %>

<div id="locationFeed">
  <%= render @locations %>
</div>

<%= render partial: 'regions/more' %>
