<% content_for :title, "#{@guide.name}" %>

<div class="row">

  <div class="col-xs-12 col-md-4">
    <div class="well guide-contents" id="guideContents" data-spy="affix" data-offset-top="200" data-offset-bottom="0">

      <%= render partial: "guides/contents" %>

      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-8">
    <div class="well">
      <h1><%= @guide.name %></h1>
      <%= link_to "Edit Settings", edit_user_guide_path(id: @guide.permalink, user_id: @user.id), remote: true, class: "label label-warning" %>
      <%= link_to "Print", guides_print_path(id: @guide.permalink), class: "label label-info" %>
    </div>
    <div class="well" id="pageContent">
      <div class="row" id="pageSpinner">
        <div class="col-xs-4 col-xs-offset-4"><i class="fa fa-cog fa-spin fa-2x"></i> just a sec...</div>
      </div>

      <% if @page.blank? %>

      <h3>Finding Boating Locations</h3>

      <p>Your cruising guide is looking a little empty... Explore thousands of anchorages, marinas, and harbors, then add them to your cruising guide.
        <%= link_to regions_path, class: "btn btn-primary btn-sm" do %>
        <i class="fa fa-binoculars"></i> Explore
        <% end %></p>

        <h3>Adding Locations to your Cruising Guide</h3>

        <p>When you find a place the looks cool, just click the button that looks like
          <%= link_to "#", class: "btn btn-success btn-sm" do %>
          <i class="fa fa-book"></i> Cruising Guides
          <% end %> to add it to this custom cruising guide.</p>

          <h3>Anchoring <i class="text-success fa fa-anchor"></i></h3>

          <p>Anybody can upload pictures and share experiences about a location. If you like what somebody else posted, click on the anchor button next to their post. Anchoring stuff saves it to your cruising guide and helps the community determine which content is most useful to boaters.</p>




      <% else %>

      <div class="page-content">

      <h3>Cruising Guide Stats</h3>

      <p><%= @guide.name %> contains <%= @guide.locations.count %> locations. </p>

      <h3>Add More Locations to your Cruising Guide</h3>

      <p>When you find a place the looks cool, just click the button that looks like
        <%= link_to "#", class: "btn btn-success btn-sm" do %>
        <i class="fa fa-book"></i> Cruising Guides
        <% end %> to add it to this custom cruising guide.</p>

        <h3>Anchoring <i class="text-success fa fa-anchor"></i></h3>

        <p>Anybody can upload pictures and share experiences about a location. If you like what somebody else posted, click on the anchor button next to their post. Anchoring stuff saves it to your cruising guide and helps the community determine which content is most useful to boaters.</p>

      </div>


      <% end %>

    </div>
  </div>

</div>
