<h4>Current Conditions</h4>

<i class="<%= icon_matcher(@now.icon) %>"></i> <%= @now.summary %>
<br>

<i class="wi wi-thermometer"></i> <%= @now.apparentTemperature %> &deg;F<br>

<i class="wi wi-strong-wind"></i> <%= @now.windSpeed %>mph at <%= @forecast.currently.windBearing %>&deg;<br>

<i class="wi wi-sunrise"></i> Sunrise <%= simple_time(@day[0].sunriseTime, @offset) %><br>

<i class="wi wi-sunset"></i> Sunset <%= simple_time(@day[0].sunsetTime, @offset) %><br>
