<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <h3>Choose Regions</h3>

  <% @regions.each do |reg| %>
    <%= check_box_tag "regions[]", reg.id, reg.check_it(@location) %>
    <%= link_to reg.name, reg %></br>
  <% end %>

  <div class="blank-space"></div>

    <%= f.submit class: "btn btn-primary" %>

<% end %>
