<div class="well">

<div class="row">

  <div class="col-sm-6 col-md-6">
      <h3><%=  link_to location.name, location, class: "text-primary" %></h3>
      <p><% location.regions.each do |region| %>
      <%= link_to "#{region.name} ", region, class: "label label-teal" %>&nbsp;
      <% end %>
      </p>
  </div>

  <div class="col-sm-3 col-md-3">
    <hr class="visible-xs">
    <span class="label label-success"><i class="hi hi-anchor"></i> <%= pluralize(location.anchor_count, 'anchor') %></span><br>
    <span class="label label-dark"><i class="hi hi-pencil"></i>
      <%= pluralize(location.experience_count, "experience") %></span><br>

      <span class="label label-pink"><i class="hi hi-camera-retro"></i>
      <%=  pluralize(location.image_count, 'photo') %></span><br>
      <hr class="visible-xs">
  </div>

  <div class="col-sm-3 col-md-3">

    <div>
      <%= link_to location, class: "btn btn-success" do  %>
        <i class="hi hi-binoculars"></i> Explore
      <% end %>
    </div>

    <div>
      <p><%= render partial: "locations/type", locals: {location: location } %></p>
    </div>



  </div>

</div>

</div>
