<% content_for :title, "#{@location.name}'s Photos" %>
<% content_for :head do %>
 <meta name="description" content="Photos and images from boaters and sailors taken at <%= @location.name %>">
<% end %>

<div class="row">
<div class="col-sm-12 col-md-8 col-md-offset-2">
  <h2 class="pink-flag defaultcase shadow">Photos Taken at <%= @location.name %></h2>
</div>
</div>
<% if @images.any? %>
<div class="row">
<div class="col-sm-12 col-md-8 col-md-offset-2">
  <div class="row well">
  <% @images.each do |img| %>
  <%= render partial: "images/image", locals: {img: img} %>
  <% end %>

</div>
</div>
</div>

    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
          <%= link_to @location, class: "btn btn-info btn-sm" do %>
            <i class="fa fa-chevron-left"></i> <%= @location.name %>
            <% end %>

          <%= will_paginate @images %>
      </div>
    </div>


<% else %>


<div class="row">
  <div class="col-sm-12 col-md-8 col-md-offset-2">
    <div class="row well">
      <p>No images found...</p>
      <p><%= link_to @location, class: "btn btn-info btn-sm" do %>
        <i class="fa fa-chevron-left"></i> <%= @location.name %>
        <% end %>

      </p>
  </div>
</div>
</div>

<% end %>
