<% content_for :title, "Boating Map of #{@location.name}" %>
<% content_for :head do %>
 <meta name="description" content="Full sized map for boaters of <%= @location.name %>">
<% end %>

<h1>Boating Map of <%= link_to @location.name, @location %></h1>

<div class="row">

    <div id="map-attr" data-locations="<%= @location.map_data %>" data-spots="<%= @spots %>"></div>
    <div id="map-canvas" class="full-map"></div>
    <%= render partial: 'map_script' %>

</div>

<div class="row">
  <div class="col-xs-12">
      <%= link_to @location, class: 'btn btn-info btn-sm' do %>
      <i class="fa fa-chevron-left"></i> Back
      <% end %>
  </div>
</div>
