<% content_for :title, @location.name %>
<% content_for :head do %>
<meta name="description" content="<%= meta_description(@location) %>">

<meta property="fb:app_id" content="257297327789868"/>
<meta property="og:url" content="<%= location_url(@location, protocol: 'https') %>" />
<meta property="og:type" content="article" />
<meta property="og:title" content="<%= @location.name %> on Anchorage.io" />
<meta property="og:description" content="<%= meta_description(@location) %>" />

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@anchorageio">
<meta name="twitter:title" content="<%= @location.name %> on Anchorage.io">
<meta name="twitter:description" content="<%= meta_description(@location) %>">

 <% if @images.any? %>
 <meta property="og:image" content="<%= @images.first.file.url %>"/>
 <meta name="twitter:image" content="<%= @images.first.file.url %>">
 <% end %>

<% end %>


<%= div_for @location, itemscope: true, itemtype: "http://schema.org/Article" do %>
<meta itemprop="datePublished" content="<%= @location.created_at %>" />

<div class="row">
  <div class="col-md-12 col-xs-12">
    <h1 class="title-flag shadow" itemprop="headline"><%= @location.name %> Boating Knowledge</h1>
    <% if @location.user == current_user %>
    <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <p>You are the gatekeeper of knowledge for this location. If you need to change any of the core details, you can <%= link_to "Edit #{@location.name}", edit_location_path(@location), class: 'btn btn-default btn-info btn-xs' %></p>
    </div>
    <% end %>
  </div>
</div>


<div class="row">

  <!-- Description -->
  <div class="col-xs-12 col-md-9" itemprop="articleBody">

    <div class="well">
    <div class="row">
        <div class="col-md-6 col-xs-12">
          <%= render partial: "description" %>
        <div class="blank-space"></div>
        </div>
          <div class="col-md-6 col-xs-12">
            <%= render partial: 'map' %>
          </div>
        </div>
        <div id="windOutlook" class="wind-outlook">
          <h3>Today's Wind Forecast</h3>
          <div class="forecast-spinner"><i class="fa fa-cog fa-spin"></i> loading wind forecast...</div>
      </div>
    </div>


    <!-- Photos -->

    <%= render "locations/masonry" %>
    <%= render "share_buttons" %>


    <!-- Experiences -->

    <h3 class="blue-flag shadow">Experiences</h3>


    <div id="experienceFeed" class="col-xs-12">
      <% if @experiences.any? %>
      <% @experiences.each do |exp| %>
      <%= render partial: "experiences/experience", locals: {exp: exp} %>
      <% end %>
      <% end %>
      <%= render partial: "locations/share_experience_button" %>
    </div>


  </div>




  <div class="col-xs-12 col-md-3">

    <div class="well">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <%= render partial: "pages/button", locals: {location: @location} %>
          <%= render partial: "social_share" %>
        </div>
      </div>
    </div>


    <!-- Nearby Anchorages -->
    <h4 class="orange-flag shadow">Nearby Anchorages</h4>
    <div class="well">
      <%= render partial: 'near' %>
    </div>



    <!-- Key Stats -->
    <h4 class="yellow-flag shadow">Key Stats</h4>
    <div class="well">
      <%= render "locations/stats" %>
    </div>

    <!-- Weather -->
    <h4 class="dark-blue-flag shadow">Weather</h4>
    <div class="well">
      <div id="forecast">
        <div class="forecast-spinner"><i class="fa fa-cog fa-spin"></i> loading weather...</div>
        <%= render partial: "forecast_script" %>
      </div>
    </div>

  </div>

</div>

<% end %>
