<% content_for :title, @location.name %>
<% content_for :head do %>
 <meta name="description" content="Local experiences and photos from boaters at <%= @location.name %>">
<% end %>

<%= div_for @location do %>

<h1 class="title-flag shadow"><%= @location.name %></h1>


<div class="row">

  <!-- Description -->
  <div class="col-xs-12 col-md-9">

    <%= render "description" %>

    <!-- Photos -->

    <h2 class="pink-flag shadow">Photos</h2>

    <%= render "locations/images" %>

    <div id="imageForm"></div>

    <hr />

    <!-- Experiences

    <div id="shareButtons">

    </div>

  -->

    <div id="experienceForm"></div>

    <h2 class="blue-flag shadow">Experiences</h2>


    <div id="experienceFeed" class="col-xs-12">
      <% if @experiences.any? %>
      <% @experiences.each do |exp| %>
      <%= render partial: "experiences/experience", locals: {exp: exp} %>
      <% end %>
      <%= render partial: "locations/share_experience_button" %>
      <% else %>
      <div class="row well" id="noExperiences">
        <p class="text-info"><i class="fa fa-trophy"></i> No first-hand experiences have been shared. Be the first and get the coveted columbus badge!</p>
        <%= render partial: "locations/share_experience_button" %>
      </div>
      <% end %>
    </div>


  </div>




  <div class="col-xs-12 col-md-3">
    <!-- Map -->
    <h4 class="blue-flag shadow">Map</h4>
      <%= render partial: 'map' %>
      <%= render partial: 'map_script' %>
    </div>

    <!-- Key Stats -->
    <h4 class="yellow-flag shadow">Key Stats</h4>
    <div class="well">
      <%= render "locations/stats" %>
    </div>

    <!-- Weather -->
    <h4 class="green-flag shadow">Weather</h4>
    <div class="well">
      WEATHER
    </div>

  </div>

</div>

<% end %>
