<%= form_for(@image, remote: true) do |f| %>

<div id="imageErrors"></div>

  <div class="field">
    <%= f.label :file %><br>
    <%= f.file_field :file %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :location_id %><br>
    <%= f.hidden_field :location_id, value: @location.id %>
  </div>
  <div class="actions">
    <%= f.submit "Add Image", class: "btn btn-success btn-sm" %> <%= link_to "Cancel", "#", class: "btn btn-warning btn-sm", id: "cancelButton" %>
  </div>
<% end %>
