<%= div_for(img, class: "each-image") do %>

  <div class="col-xs-12 col-sm-4 photo-col">
    <div class="polaroid">
    <%= link_to image_tag(img.file_url(:thumb), style: "max-width:100%;height:auto;", alt: img.description), img, remote: true %>
      <div class="polaroid-caption">
        <div class="row">
          <div class="col-xs-4">
            <%= render partial: "anchors/image_button", locals: { img: img } %>
          </div>

          <div class="col-xs-8">
            <p class="img-user"><%= link_to img.user.username, profile_path(img.user.username) %></p>
            <p><%= link_to img, class: "btn btn-primary btn-xs", remote: true do %>
              <i class="fa fa-eye"></i> View
              <% end %>

             <%= link_to "https://www.pinterest.com/pin/create/button/?url=#{location_path(img.location)}&media=#{img.file.url}&description=#{img.description}", class: "btn btn-social-icon btn-pinterest btn-xs", target: "_blank"  do %>
             <i class="fa fa-pinterest"></i>
             <% end %>
              </p>
              <% if current_user == img.user || current_user.try(:admin?) %>
              <%= link_to "Delete", img, method: :delete, remote: true, class: " label label-danger",  data: { confirm: 'Sure about this? It can never be recovered.' } %>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>
