<%= div_for(image) do %>

<div class="col-md-4 col-sm-6 col-xs-12 item nopad imagebox">
      <div class="mason-image">
        <div class="image-caption">
          <p>
            <%= link_to "@#{image.user.username}", profile_path(image.user.username), class: "label label-pink" %></span> <i class="fa fa-arrow-circle-right"></i>
             <%= link_to image.location.name, image.location, class: "label label-teal" %>
          </p>
          <p>
            <% if image.description.present? %>
            - "<%= image.description %>"
            <% end %>
          </p>
          <p>
            <%= render partial: "anchors/image_button", locals: { image: image } %>
          </p>

          <p>
            <%= link_to "https://www.pinterest.com/pin/create/button/?url=#{location_path(image.location)}&media=#{image.file.url}&description=#{image.description}", class: "btn btn-social-icon btn-pinterest btn-xs", target: "_blank"  do %>
            <i class="fa fa-pinterest"></i>
            <% end %>

            <%= link_to image, class: "label label-dark", remote: true do %>
              <i class="fa fa-expand"></i> enlarge
            <% end %>
            <% if current_user == image.user %>
            <%= link_to image_path(id: image.id), class: "label label-danger", method: :delete, remote: true, data: { confirm: "Are you 100% sure about this? It can never be recovered!"} do %>
              <i class="fa fa-trash"></i> delete
            <% end %>
            <% end %>
          </p>

        </div>
        <%= link_to image_tag(image.file_url(:mason), class: 'responsive-img', alt: image.description), image, remote: true %>
      </div>
</div>


<% end %>
