<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="imageModalLabel">Image</h4>
      </div>
      <div class="modal-body">

        <%= div_for @image do %>

        <%= link_to image_tag(@image.file_url, style: "max-width:100%;height:auto;"), @image.file_url %>


        <%= render partial: "anchors/image_button", locals: {img: @image} %>

        <h3>Description</h3>
        <p><%= @image.description %></p>

        <p>Taken by <%= link_to @image.user.username, profile_path(@image.user), class: "text-primary" %> at <%= @image.location.name %>. Posted <%= @image.created_at.strftime("%m/%d/%Y") %></p>


        <% end %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
