<% content_for :title, "#{@location.name}'s Photos" %>
<% content_for :head do %>
 <meta name="description" content="Photos and images from boaters and sailors taken at <%= @location.name %>">
<% end %>

<h2 class="pink-flag defaultcase shadow">Photos Taken at <%= @location.name %></h2>

  <div class="row masonry-wrapper" id="masonryFeed">
    <div class="col-xs-12">
        <% if @images.any? %>
        <%= render @images %>
        <%= will_paginate @images %>
        <% else %>
        <h4>No images found...</h4>
        <% end %>
    </div>
  </div>

  <div class="well">
    <%= link_to @location, class: "btn btn-info btn-sm" do %>
        <i class="hi hi-chevron-left"></i> <%= @location.name %>
    <% end %>
  </div>
