<!DOCTYPE html>
<html>
<head>
<script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqgrMCrWxhZpuAW6V9_2WXSZADIk6qUEs"
  type="text/javascript"></script>
  <title>Anchorage.io | <%= page_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= yield :head %>
  <meta name="p:domain_verify" content="dee7b48772f880f9e400d6f65f9f8d08"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <div id="modal"></div>

  <%= render 'shared/header' %>

  <div class="container-fluid squeeze">
    <div id="flash-messages"><%= flash_messages %></div>

    <div class="row">


      <div class="col-xs-12" id="mainContent">

        <%= yield %>

      </div>


    </div>

  </div>
  <%= render "shared/footer" %>

</body>
</html>
