<!DOCTYPE html>
<html>
<head>
  <script src="https://use.typekit.net/hmm2ukz.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

  <title><%= page_title(yield(:title)) %> | Anchorage.io</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'shared/favicon' %>
  <%= yield :head %>
  <meta name="p:domain_verify" content="dee7b48772f880f9e400d6f65f9f8d08"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<%= render 'shared/analytics' %>
  <div id="modal"></div>

  <%= render 'shared/header' %>

  <div class="container-fluid squeeze">
    <div id="flash-messages"><%= flash_messages %></div>

    <div class="row">


      <div class="col-xs-12" id="mainContent">

        <%= yield %>

      </div>


    </div>

  </div>
  <%= render "shared/footer" %>

</body>
</html>
