<!DOCTYPE html>
<html>
<head>
  <title>Anchorage.io | <%= page_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body style="background-color: #fff; background-image: none; padding-top:10px;">

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">

          <%= yield %>
    </div>
  </div>

</body>
</html>
